/* editar_inmueble.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.editar-inmueble-container {
    background: #ffffff;
    width: 1600px;
    height: auto;

    margin: 0px auto;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.image{
    background-image: none;
        position:relative;
        height:200px;
        width:200px;
        top: 440px;
        left : -460px;
        z-index: 0;
      }
        

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.form-section {
    display: flex;
    gap: 20px;
}

.left-column, .right-column {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
   
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555555;
    position: relative;
 
}

.form-control{
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.form-control-file {
    height: 500px;
   
    border: 2px dashed #bbbbbb;
    text-align: center;
    font-size: 16px;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.form-control-file::before {
    content: "Cargar fotos";
    font-weight: bold;
    color: #333333;
    position: absolute;
    top: 20px;
    font-size: 16px;
}

.form-control-file::after {
    content: "Mínimo 7 y máximo 15";
    color: #777777;
    position: absolute;
    bottom: 20px;
    font-size: 12px;
}

.image-preview {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.image-preview-item {
    position: relative;
}

.remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #6b6161;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 60px;
}
.submit-button {
    text-align: center;
    margin-top: 30px;
}

.submit-button button {
    position: relative;
    top: -150px;   /* Empuja hacia abajo desde su posición original */
    left: 455px;
    background-color: #ffffff;
    color: #0066cc;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #0066cc;
    border-radius: 8px;
    cursor: pointer;
    width: 667px;
    transition: all 0.3s;
}

.submit-button button:hover {
    background-color: #0066cc;
    color: #ffffff;
}
