/* styles.css */
/* Importación de la fuente FREEMAN */
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

/* Estilo general para el body */
body {
    font-family: 'Freeman', sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    box-sizing: border-box;
    padding-top: 80px;
}

/* Estilo para el contenedor de navegación */
.nav {
    display: flex;
    align-items: center;
    font-family: 'Freeman', sans-serif; /* Aplica FREEMAN a los elementos de navegación */
}

/* Estilo global para enlaces */
a {
    text-decoration: none;
    color: inherit; /* Hereda el color del elemento padre */
}

/* Estilo general para botones */
.button {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-family: 'Freeman', sans-serif; /* Asegúrate de aplicar la fuente */
}

/* Estilo específico para el botón "Publicar" */

.publicar-button {
    position: relative;
    top: -3px;
    left: 0px;
    font-size: 13px;
    background-color: #ff6600;
    color: #ffffff;
    padding: 8px 8px;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid #ff6600;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Freeman', sans-serif !important;
}
.nav .button.publicar-button:hover {
    background-color: #ffffff;
    color: #ff6600;
}

.nav .perfil-icon {
    width: 40px;
    height: 40px;

    transition: transform 0.3s;
}

.nav .perfil-icon:hover {
    transform: scale(1.1);
}



/* Cabecera */
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    font-family: 'FREEMAN', sans-serif;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
   
    font-family: 'FREEMAN', sans-serif;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo img {
    height: 50px;
}



/* Margen para que el contenido no quede debajo de la cabecera */
main {
    margin-top: 80px; /* Ajusta el margen según la altura de la cabecera */
}

/* Footer */
.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.footer p {
    margin: 0;
}

/* Estilos de botones generales */
.button {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
